body{
margin:0px;
overflow-x: hidden;
background-color:  	#DCDCDC;
}
#logo {
padding-left: 400px;
margin-top:60px;
}
#logo img{
padding-left:350px;
}
#logo h1{
padding-left:270px;
margin-bottom:2px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo p{
padding-right: 200px;
font-size:22px;
}
#validation{
padding-left:35px;
}
#bill{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left:320px;
margin-top:70px;
}
#form1{
margin-left:320px;
margin-right:400px;
}
#form1 label{
font-size:20px;
}
.first input{
width:88%;
}
.first{
margin-right: 500px;
}
.last input{
width:72%;
}
.last{
margin-left: 370px;
margin-top: -65px;
}
.input-value{
border-radius: 4px;
border:none;
font-size:28px;
display: inline-block;
margin-top:10px;
}
.user{
margin-top:20px;
}
.at{
margin-right: 750px;
font-size:35px;
padding-left:5px;
background-color: #A9A9A9;
border-radius:4px;
margin-top:5px;
}
#uname{
position: relative;
top: -50px;
margin-left:40px;
width:80%;
font-size:34px;
}
.email{
margin-top:-25px;
}
#opt{
color:grey;
}
#mail{
width:84%;
border-radius: 4px;
margin-top:7px;
font-size:28px;
border:none;
}
.address{
margin-top:20px;
}
#add{
width:84%;
border-radius: 4px;
margin-top:7px;
font-size:28px;
border:none;
}
.address2{
margin-top:20px;
}
.drop{
margin-top:20px;
margin-right: 150px;
}
#country{
border:none;
border-radius: 4px;
margin-top:7px;
font-size:28px;
width:40%;
color:grey;
margin-right: 700px;
}
.states{
margin-left: 310px;
margin-top: -62px;
margin-right: 350px;
}
#state{
border:none;
border-radius: 4px;
margin-top:6px;
font-size:28px;
width:350%;
color:grey;
margin-right: 700px;
}
.zipcode{
margin-left: 520px;
margin-top: -62px;
}
#zip{
border:none;
border-radius: 4px;
margin-top:6px;
font-size:28px;
width:105%;
color:grey; 
}
hr{
color:grey;
}
.ship{
margin-top: 30px;
margin-right: 150px
}
#check{
margin-top:25px;
margin-bottom:20px;
}
.payment{
margin-top:30px;
}
.credit-details{
margin-top: 20px;
}
#cardname{
margin-top:7px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:42%;
}
.cname p{
margin-top:5px;
color:grey;
}
.cnum{
margin-left: 400px;
margin-top: -100px;
}
#cardnum{
margin-top:5px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:68%;
}
.exp{
margin-top:40px;
}
.expire{
margin-right: 800px;
}
#expiry{
margin-top:7px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:250%;
}
.cvv{
margin-left: 200px;
margin-top: -62px;
}
#cvvfield{
margin-top:5px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:25%;
}
.hr3{
margin-top:30px;
margin-right: 150px;
}
#continue{
color: white;
background-color: #009ACD;
border-radius: 4px;
border:none;
width:83%;
padding:15px;
font-size:20px;
}
#footer{
margin-top:100px;
margin-left:400px;
margin-bottom:50px;
}
#footer p{
color:grey;
}
#footer a{
text-decoration: none;
color:#009ACD;
}
#linking{
padding-left:20px;
}
#terms {
padding-left: 10px;;
}
#support {
padding-left: 10px;;
}
::placeholder{
padding-left:12px;
}
