body{
margin:0px;
overflow-x: hidden;
background-color:  	#DCDCDC;
}
#logo {
padding-left: 400px;
margin-top:60px;
}
#logo img{
padding-left:350px;
}
#logo h1{
padding-left:270px;
margin-bottom:2px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo p{
padding-right: 200px;
font-size:22px;
}
#validation{
padding-left:35px;
}
#bill{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left:320px;
margin-top:70px;
}
#form1{
margin-left:320px;
margin-right:400px;
}
#form1 label{
font-size:20px;
}
.first input{
width:88%;
}
.first{
margin-right: 500px;
}
.last input{
width:72%;
}
.last{
margin-left: 370px;
margin-top: -65px;
}
.input-value{
border-radius: 4px;
border:none;
font-size:28px;
display: inline-block;
margin-top:10px;
}
.user{
margin-top:20px;
}
.at{
margin-right: 750px;
font-size:35px;
padding-left:5px;
background-color: #A9A9A9;
border-radius:4px;
margin-top:5px;
}
#uname{
position: relative;
top: -50px;
margin-left:40px;
width:80%;
font-size:34px;
}
.email{
margin-top:-25px;
}
#opt{
color:grey;
}
#mail{
width:84%;
border-radius: 4px;
margin-top:7px;
font-size:28px;
border:none;
}
.address{
margin-top:20px;
}
#add{
width:84%;
border-radius: 4px;
margin-top:7px;
font-size:28px;
border:none;
}
.address2{
margin-top:20px;
}
.drop{
margin-top:20px;
margin-right: 150px;
}
#country{
border:none;
border-radius: 4px;
margin-top:7px;
font-size:28px;
width:40%;
color:grey;
margin-right: 700px;
}
.states{
margin-left: 310px;
margin-top: -62px;
margin-right: 350px;
}
#state{
border:none;
border-radius: 4px;
margin-top:6px;
font-size:28px;
width:350%;
color:grey;
margin-right: 700px;
}
.zipcode{
margin-left: 520px;
margin-top: -62px;
}
#zip{
border:none;
border-radius: 4px;
margin-top:6px;
font-size:28px;
width:105%;
color:grey; 
}
hr{
color:grey;
}
.ship{
margin-top: 30px;
margin-right: 150px
}
#check{
margin-top:25px;
margin-bottom:20px;
}
.payment{
margin-top:30px;
}
.credit-details{
margin-top: 20px;
}
#cardname{
margin-top:7px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:42%;
}
.cname p{
margin-top:5px;
color:grey;
}
.cnum{
margin-left: 400px;
margin-top: -100px;
}
#cardnum{
margin-top:5px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:68%;
}
.exp{
margin-top:40px;
}
.expire{
margin-right: 800px;
}
#expiry{
margin-top:7px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:250%;
}
.cvv{
margin-left: 200px;
margin-top: -62px;
}
#cvvfield{
margin-top:5px;
border:none;
border-radius: 4px;
font-size:28px;
color:grey;
width:25%;
}
.hr3{
margin-top:30px;
margin-right: 150px;
}
#continue{
color: white;
background-color: #009ACD;
border-radius: 4px;
border:none;
width:83%;
padding:15px;
font-size:20px;
}
#footer{
margin-top:100px;
margin-left:400px;
margin-bottom:50px;
}
#footer p{
color:grey;
}
#footer a{
text-decoration: none;
color:#009ACD;
}
#linking{
padding-left:20px;
}
#terms {
padding-left: 10px;;
}
#support {
padding-left: 10px;;
}
::placeholder{
padding-left:12px;
}
.cart{
width:20%;
float: right;
margin-right:180px;
margin-top: 50px;;
}
.cart h2{
color: grey;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-right: 150px;
}
#num3{
border-radius: 30%;
background-color: gray;
margin-left: 300px;
margin-top: -50px;
color:white;
font-size:25px;
padding:2px 0px 2px 2px;
}
.items{
width:20%;
float:right;
background-color:white;
margin-right:-317px;
margin-top: 110px;
border-radius: 4px;
}
.pname{
font-size: 25px;
margin-top:12px;
padding-left:12px;
margin-right: 60px;
}
.brief{
color:gray;
margin-top:-25px;
margin-right: 60px;
padding-left:12px;
margin-bottom:28px;
}
.price{
color:grey;
margin-top: -57px;
margin-left: 270px;
font-size:20px;
}
.product hr{
margin-bottom:2px;
}
#promocode{
background-color: 	#DCDCDC;
margin-top:-6px;
border-top:2px gray solid;
border-bottom:2px gray solid;
}
#promo{
    color:green;
}
#example{
    color: green;
    font-size:12px;
}
#sale{
    color:green;
}
#usd{
   margin-bottom: -7px;
}
#total{
    font-size:18px;
    padding-top:5px;
}
#tprice{
    margin-top:-38px;
}
.last-div{
    width:20%;
    float:right;
    margin-right:-317px;
    margin-top: 480px;
    border-radius: 4px;
    border: 2px gray solid;
    background-color: white;
}
#redeem{
    margin:10px;
    border-radius: 4px;
    width:65%;
    font-size:25px;
    border: 2px gray solid;
}
#red-button{
    background-color: gray ;
    color:white;
    float:right;
    font-size:20px;
    padding:5px;
    padding-bottom: none; 
    margin-top: 493px;
    margin-right:-307px;
    border:none;
    border-radius: 4px;
}
